target/
text/
logs/
db/
nbactions.xml
nb-configuration.xml

*gradle/
.idea/
*.iml
build/
gradlew*

/nbproject/
Removeria nbproject/
Removeria src/main/java/br/com/ellisonalves/crawlers/application/crawlers/ConfigParameterNotFoundException.java
Removeria src/main/java/br/com/ellisonalves/crawlers/domain/model/documento/Document.java
Removeria src/main/java/br/com/ellisonalves/crawlers/domain/repository/
/.nb-gradle/
/out/
/data/
